@use "@/app//includes/scss/modules/colors" as colors;

.answer {
	border: 1px solid black;
	padding: 1rem;
	margin: 1rem;
	text-align: center;
	font-size: 1.5rem;

	&.correct {
		background-color: colors.$correctColor;
		font-weight: bold;
		color: black;
	}
	&.wrong {
		background-color: colors.$wrongColor;
		font-weight: bold;
		color: white;
	}
}
