.quizReadOnly {
	:global {
		.question {
			font-size: 2rem;
		}
		.image-wrapper {
			position: relative;
			margin: 1.25rem;

			// margin: 0.5rem auto;
			display: flex;
			justify-content: center;
		}
		.image {
			width: 100%;
			height: 100%;
			display: block;
			cursor: pointer;
		}
	}
}
