.quizEditor {
	background-color: white;
	padding: 1rem;
	border-radius: 20px;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	margin-bottom: 2rem;
	:global {
		.overview {
			.question-entry {
				border-bottom: 1px solid black;
				padding-bottom: 0.5rem;
				padding-top: 0.5rem;
				.wrapper {
					padding: 0.5rem;
					border-radius: 20px;
					&:hover {
						background-color: rgba(0, 0, 0, 0.1);
					}
					&:active {
						background-color: rgba(0, 0, 0, 0.4);
					}
				}

				.index {
					font-size: 1.5rem;
					margin-right: 1rem;
				}
				.question {
					font-size: 1.5rem;
					flex-grow: 1;
					word-break: break-all;
					word-wrap: break-word;
					white-space: nowrap; /* Keeps the text in a single line */
					overflow: hidden; /* Hides text that goes beyond the div */
					text-overflow: ellipsis; /* Adds '...' at the end of the hidden text */
					width: auto;
				}
			}
		}
	}
}
