@use "@/app//includes/scss/modules/colors" as colors;
@import "/node_modules/bootstrap/scss/functions";
@import "/node_modules/bootstrap/scss/variables";
@import "/node_modules/bootstrap/scss/mixins";

.controller {
	background-color: rgba(255, 255, 255, 0.932);
	height: 100%;
	border: 1px solid black;
	border-radius: 20px;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	padding: 1rem;
	@include media-breakpoint-down(xl) {
		margin-bottom: 2rem;
	}
	:global {
		.content {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;
			.btn-show-solution {
				height: 70px;
				width: 70px;
				padding: 1rem;
				border-radius: 100%;
				&[data-show-solutions="true"] {
					background-color: colors.$correctColor;
				}
				&[data-show-solutions="false"] {
					background-color: colors.$wrongColor;
				}
			}

			.btn-show-score-display {
				height: 70px;
				width: 70px;
				padding: 1rem;
				border-radius: 100%;
				&[data-show-score-display="true"] {
					background-color: colors.$correctColor;
				}
				&[data-show-score-display="false"] {
					background-color: colors.$wrongColor;
				}
			}
			.controllerSwitch {
				display: flex;
				flex-direction: column-reverse;
				align-items: center;
				padding: 0;
				label {
					font-weight: bold;
					text-align: center;
				}
				input[type="checkbox"] {
					height: 25px;
					width: 50px;
					margin: 0.25rem;
				}
			}

			.btn-prev-next {
				.btn {
					background-color: white;
					&:hover {
						background-color: lightgray;
					}
					&:active {
						background-color: gray;
					}
				}
			}

			.btn-counter {
				.number {
					font-size: 2rem;
					text-align: center;
				}
				button {
					margin: 0.25rem;
				}
			}
		}
	}
}

.preview {
	background-color: rgba(255, 255, 255, 0.932);
	padding: 1rem;

	overflow: auto;
	@include media-breakpoint-up(xl) {
		margin-left: 2rem;
	}
	border: 1px solid black;
	border-radius: 20px;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
